main.page-2{
  padding-top:5rem;
}

main.page-2 h4{
  color:var(--grey-white-color);
  border-bottom:1px solid var(--grey-color-opacity);
}
main.page-2 .aboutme-body{
margin-bottom:4rem;
}

.Experiences-container{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:2rem;
  width:20rem ;
  height:20rem;
  align-self:center;
  justify-self:center;
}

.Experiences-container div{
  display:flex;
  flex-direction:column;
  border:1px solid var(--grey-color-opacity);
  align-items:center;
  justify-content:center;
  border-radius:50%;
  background-color:var(--grey-color-opacity2);
  font-size:12px;
  animation:bounce .7s linear 1;
}

.Experiences-container div:hover{
  animation:bounce .7s linear 1;
}

.Experiences-container div span{
  font-size:2rem;
  font-weight:700
  }