main.page-3 .front-end-container{
  border:1px solid var(--grey-color-opacity);
  padding:10px 30px;
  border-radius:10px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  background-color:var(--grey-color-opacity2);
}

main.page-3 .front-end-container{
  border:1px solid var(--grey-color-opacity);
  padding:10px 30px;
  border-radius:10px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  background-color:var(--grey-color-opacity2);
  transform:translateY(-8px)
}
main.page-3 .front-end-container:hover{
  animation:jump .7s linear 1;
}
.fa-laptop-code{
  margin:2rem 0;
}
.front-end-developer{
  margin-bottom:1.2rem ;
}